html,
body {
  background: #fefbef;
  width: 100%;
  min-height: 100vh;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-size: 110px 40px;
}

.bgs {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
}

.bg {
  top: -42px;
  bottom: -42px;
  right: -124px;
  left: -120px;
  position: absolute;
  background: url(/static/logo-react.svg);
  background-size: 110px 40px;
  background-repeat: repeat;
  background-position: 0px 0px;
  animation: 1s scrollbackground linear infinite both running;
  transition: opacity 100ms ease-in-out;
}

@keyframes scrollbackground {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 40px);
  }
}

.footer {
  background: #59005b;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  flex-direction: column;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

@keyframes scrolllogo {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, -255px);
  }
}

.hero svg {
  flex: 0 0 auto;
  width: 70vw;
  height: auto;
  margin-top: -10vh;
}

.hero svg path {
  stroke: #00153d;
  stroke-width: 1.5px;
}

.page-error {
  font-family: "Space Mono";
  color: #fefbef;
  background: #00153d;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.page-error h1 {
  font-size: 20rem;
  font-weight: 700;
}

.page-error p {
  font-size: 1.2rem;
  font-weight: 400;
}

.footer {
  background: #e61c5d;
  border: #00153d 1rem solid;
  border-bottom: none;
  bottom: 0;
  left: 4vw;
  right: 4vw;
  padding: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono";
  position: fixed;
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
}

.footer > ul {
  list-style: none;
  display: flex;
}

.footer li {
  font-size: 1.8rem;
}

.footer li + li {
  margin-left: 2rem;
}

a {
  color: #e61c5d;
  text-decoration: none;
}

.footer a {
  display: block;
  color: #fefbef;
  font-weight: 700;
  letter-spacing: 0.3px;
  padding: 0.6rem;
  transition: all 250ms ease;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  color: #fefbef;
  text-shadow: 0 4px #59005b;
  transform: translate(0, -2px);
}

@media (max-width: 1124px) {
  .footer {
    border-right: none;
    border-left: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 0;
    right: 0;
  }

  .hero svg {
    width: 80vw;
  }
}

@media (max-width: 930px) {
  body {
    justify-content: flex-start;
  }
  .footer {
    border-top: #b11047 1px solid;
  }

  .hero {
    align-items: center;
    justify-content: flex-start;
  }

  .hero svg {
    max-width: 50vh;
    margin-top: 2vh;
    transform: rotate(-45deg) translate(-20%, 35%);
  }

  .footer li {
    font-size: 1.6rem;
  }

  .footer > ul {
    flex-direction: column;
  }

  .footer li + li {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.content {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding: 5rem 6rem 6rem 6rem;
  background-color: #e61c5d;
  min-height: 100%;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.4;
}

.content a,
.content__back-link a {
  display: inline-block;
  color: #fff;
  text-shadow: 0 2px #000;
  transform: translate(0, -1px);
  border-bottom: solid 0 transparent;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: all 250ms ease;
}

.content a:hover,
.content a:active,
.content a:focus {
  margin-bottom: -8px;
  padding-bottom: 5px;
  border-bottom: solid 3px #000;
}

.content__back-link {
  background-color: #ffe98a;
  padding: 0.5rem 6rem;
}

.content__back-link a {
  color: #e61c5d;
  text-shadow: 0 2px #e7bb01;
}

.content h1 {
  color: #ffe98a;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.content h2 {
  color: #ffe98a;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.content p {
  margin-bottom: 1.2rem;
}

.content li {
  margin-bottom: 1rem;
}

.content ul {
  list-style-type: square;
  padding-left: 3rem;
}

.content ol {
  list-style-type: decimal;
  padding-left: 3rem;
}

.content small {
  font-size: 1rem;
  text-align: right;
  display: block;
  color: #fcbfd3;
  margin-top: 3rem;
}

.content strong {
  font-weight: bold;
}

@media (max-width: 979px) {
  .content p,
  .content li {
    margin-bottom: 1rem;
  }

  .content {
    line-height: 1.4;
    font-size: 1rem;
    padding: 1rem 2rem 2rem 2rem;
  }

  .content-back-link {
    display: block;
    padding: 3rem;
  }
}

.u_rel {
  position: relative;
}

.u_zhigh {
  z-index: 2;
}
